<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243207287547-gn6cmvp13on62r5mq4igb25lpeder6em.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243207287547-gn6cmvp13on62r5mq4igb25lpeder6em</string>
	<key>API_KEY</key>
	<string>AIzaSyCyWwtSTfkJUDzqouJpq2MByrt5fpfZp2M</string>
	<key>GCM_SENDER_ID</key>
	<string>243207287547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EyupKose.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-a7c7c</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-a7c7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243207287547:ios:90141816edc68bb743f65e</string>
</dict>
</plist>